<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "StockMaster" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>
  <body class="bg-gray-50">
    <div class="min-h-screen">
      <%# render the file admin/nav.html.erb %>
      <%= render "admin/nav" %>
      <main class="py-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <%= render "admin/flash" %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
