<!-- app/views/admin/users/new.html.erb -->
<div class="container mt-4">
  <h1>Create New Trader</h1>
  <%= form_with(model: [:admin, @user], local: true) do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this trader from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Create Trader", class: "btn btn-primary" %>
    <%= link_to "Back to Users", admin_users_path, class: "btn btn-secondary" %>
  </div>
<% end %>