<!-- app/views/admin/users/show.html.erb -->
<div class="container mt-4">
  <h1>Trader Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @user.full_name %></h5>
      <dl class="row">
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"><%= @user.email %></dd>
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
          <span class="badge <%= @user.status? ? 'bg-success' : 'bg-warning' %>">
            <%= @user.status? ? 'Approved' : 'Pending' %>
          </span>
        </dd>
        <dt class="col-sm-3">Balance</dt>
        <dd class="col-sm-9"><%= number_to_currency(@user.balance) %></dd>
        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm-9"><%= @user.created_at.strftime("%B %d, %Y") %></dd>
        <dt class="col-sm-3">Last Updated</dt>
        <dd class="col-sm-9"><%= @user.updated_at.strftime("%B %d, %Y") %></dd>
      </dl>
      <div class="mt-4">
        <%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-primary" %>
        <%= link_to "Back to Users", admin_users_path, class: "btn btn-secondary" %>
        <% unless @user.status? %>
          <%= button_to "Approve User", approve_admin_user_path(@user), 
              method: :patch, 
              class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>